@charset "UTF-8";

/*----------------- Blog Index ---------------*/
.body {
  height: 100%;
  padding: 30px 10px 10px 10px;
  margin: 0 auto;
  max-width: 900px;
}

#index-table {
  max-width: 100%;
  text-align: left;
  border-spacing: 20px;
  margin: 0 10% 0 10%;
}

th {
  font-size: 120%;
}

/*----------------- Blog Post ------------*/
.blog-body {
  padding: 10px;
  padding-bottom: 20px;
  margin: 0 100px 50px 100px;
}

.blog-post {
  margin: 5% 20% 10% 0%;
}

.blog-title {
  font-size: 20px;
  border-bottom: 2px solid gray;
  text-align: center; 
  padding-bottom: 10px;
}

.post {
  padding-top: 30px;
}

h3 {
  padding: 10px 0 10px 0;
}

/*------ Images -------- */
.blog-image{
  float: left;
  width: 20%;
  border: 1px solid gray;
  margin: 10px;
}

figcaption{
  font-size: 15px;
  font-style: italic;
  padding: 10px 0 10px 10px;
}

ul {
	list-style-type: square;	
  list-style-position: inside;
  padding-left: 30px;
}

ol {
  list-style-position: inside;
  padding-left: 30px;
}

/*-------- Resources -----------*/

.resources {
  padding-top: 5%;
}

/*---------------- Blog Nav ---------------*/
.navbar-default{
  width: 20%;
  position: fixed;
  top: 15%;
  left:75%;
  margin-left: 30px;
  text-align: right;
}