@charset "UTF-8";

/* ------------------ Page Structure ------------------ */

html {
  background-color: #FDFFFE;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  min-height: 100%;
  position: absolute;
}
/* ------------------ Header ------------*/
#header {
  padding: 0px;
}

header {
  width: 100%;
  font-family: sans-serif;
  top: 0;
  display: block;
  border-bottom:1px solid #eee;
}

#head-wrap {
  background-color: #5DBDF9;
  width: 100%;
  margin: 0;
  display: inline-block;
}

#myPic {
  float: left;
  width: 62px;
  padding: 5px;
}

.name {
  float: left;
  width: 40%;
}

#title {
  text-align: left;
  margin: 5px 0 0 5px;
  font-size: 15px;
}

#subtitle {
  text-align: left;
  font-size: 15px;
  margin: 5px 0 0 0;
}

.site-nav {
   font-size: 25px;
   margin: 0 10px 10px 10px;
   float: right;
   padding-top: 20px;
}

.nav-item {
  padding: 10px;
}


/*------------- Links ---------------------*/

a:link {
  color: #F95D5E;
  text-decoration: none;
  }

a:visited {
  color: #B94546;
}

a:hover {
  color: #3A1616;
}

/*----------------- Blog Index ---------------*/

#body {
  padding: 10px;
  padding-bottom: 20px;
  border-bottom:1px solid #eee;
  margin: 0 auto;
  max-width: 1000px;
}

#blog-index
{
  font-family: sans-serif;
  max-width: 900px;
  margin: 0 auto;
}
.readBlog {
  text-align:center;
}

table {
  max-width: 100%;
  text-align: left;
  border-spacing: 20px;
  position: relative;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
}

/*----------------- Blog Post ------------*/

.blog-body {
	padding: 10px;
	padding-bottom: 20px;
  position: relative;
  margin: 0 100px 50px 100px;
	font-family: sans-serif;
}

.blog-heading {
	font-family: sans-serif;
	text-align: left;
	width: 90%;
	padding: 0;
	display: block;
	margin: 0;
}

.blog-image-wrapper{
  width: 100%;
  display: inline-block;
  padding: 5px;
  margin: 25px 25px 10px 0px;
}

.blog-image{
  width: 20%;
  float: left;
  border: 2px solid;
  padding: 5px;
  margin: 10px 25px 10px 10px;
}

#blog-image-1{
  width: 20%;
  display: inline-block;
  border: 2px solid;
  padding: 5px;
  margin: 0px 10px 10px 30px;
}

#blog-image-2{
  display: inline-block;
  width: 20%;
  border: 2px solid;
  padding: 5px;
  margin: 10px 10px 10px 20px;
}

figcaption{
  font-size: 15px;
  position: relative;
  font-style: italic;
  margin-left: 20px;
}

.blog-content {
	font-family: sans-serif;
	font-size: 15px;
	text-align: left;
  position: relative;
  left: 50px;
  right: 50px;
}

.blog-title {
	padding: 0;
	font-size: 20px;
	margin: 0;
}

h3, h4 {
	margin: 0;
}

.list{
	list-style-type: square;
	
}

h2 {
  color: #E80C0C;
}

.body-image{
position: static;
width: 400px;
height: 400px;
border: 3px solid black;
}


.break-line{
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
}


/*----------------- Footer ---------------*/

footer{
  margin: 10px 20px 0px 0;
  float: right;
}

#footer{
  background-color: #eee;
  position: relative;
  display: inline-block;
  bottom: 0px;
  width:100%;
}

.social-media {
  margin-right: 20px;
}