@charset "UTF-8";

/* ------------------ Page Structure ------------------ */

html {
  background-color: #FDFFFE;
  width: 100%
}

/* ------------------ Header ------------*/
header {
  width: 100%;
  font-family: sans-serif;
  top: 0;
  display: block; 
}

.wrap{
	width: 100%;
	background-color: black;

}
#myPic {
  float: left;
  width: 8%;
  padding: 5px;
}

.name {
  float: left;
  width: 75%;
}

#title {
  text-align: left;
  margin: 0 0 0 5px;
  font-size: 15px
}

#subtitle {
  text-align: left;
  font-size: 15px;
  margin:0;
}

.site-nav {
   font-size: 15px;
   padding: 20px;
   float: right;
}

.nav-item {
  padding: 10px;
}

hr {
  border-bottom-style: solid;
  border-color: #5ECEDD;
  border-width: 5px;
  display: inline-block;
  width: 100%;
}

/*------------- Links ---------------------*/

a:link {
  color: #5DBDF9;
  text-decoration: none;
  }

a:visited {
  color: #F95D5E;
}

a:hover {
  color: #5EC6B7;
}

/*----------------- Blog Index ---------------*/

.blog-index
{
  font-family: sans-serif;
}
.readBlog {
  text-align:center;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 20px;
}

/*----------------- Footer ---------------*/

footer{
  margin-top: 20px;
  float: right;
}