@charset "UTF-8";
/* ------------------ Page Structure ------------------ */

* {
  padding:0;
  margin:0;
}

html {
  background-color: #FDFFFE;
  width: 100%
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  min-height: 100%;
  position: relative;
}

/* ------------------ Header ------------*/
#header {
  padding: 0px ;
}

header {
  width: 100%;
  font-family: 'Mako', sans-serif;
  top: 0;
  display: block;
  border-bottom:1px solid #eee;
}

#head-wrap {
  background-color: #5DBDF9;
  width: 100%;
  margin: 0;
  display: inline-block;
}

.name {
  float: left;
  width: 40%
}

#title {
  text-align: left;
  margin: 0 0 0 5px;
  font-size: 20px
}

#subtitle {
  text-align: left;
  margin: 5px;
  font-size: 15px;
  margin-top: 10px;
}

.site-nav {
   font-size: 25px;
   margin: 0 10px 10px 10px;
   float: right;
   padding-top: 20px;
}

.nav-item {
  padding: 10px;
}


/*------------- Links ---------------------*/

a:link {
  color: #F95D5E;
  text-decoration: none;
  }

a:visited {
  color: #B94546;
}

a:hover {
  color: #3A1616;
}

/*----------------- About Me ---------------*/
#body {
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
  display:block;
}

section {
  font-family: 'Mako', sans-serif;
  width: 100%;
  }

.intro {
  display: inline-block;
  margin: 0 1.5%;
  width: 100%;
    border-bottom:1px solid #eee;
}

p.aboutMe{
  margin-right: 15%;
}

.aboutMe{
  margin: 0 10px 10px 0;
  width: 70%;
}

#myPic {
  float: left;
  width: 20%;
  padding: 5px 10px 5px 0px;
  margin: 5px 20px 5px 0px;
}
/*------- Upcoming Events ------------*/


/*----------------- Footer ---------------*/
footer{
  margin: 10px 20px 0px 0;
  float: right;
}

#footer{
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width:100%;
}

.social-media {
  margin-right: 20px;
}