/* ------------------ Page Structure ------------------ */
@charset "UTF-8";

* {
  margin:0;
  padding:0;
}

html, body {
  background-image: url("../imgs/subtle_waves.png");
  background-repeat: repeat;
  font-family: 'Mako', sans-serif;
  height: 100%;
}


/* ------------------ Homepage Header ------------*/
header {
  background-image: url("../imgs/lodyas.png");
  color: #F95D5E;
  width: 100%;
}

.inner-header {
  display: inline-block;
  width: 100%;
}

.title {
  float: left;
  padding-left: 1%;
  text-align: left;
  width: 40%;
}

#name {
  font-size: 20px;
  margin-left: 5px;
}

#subtitle {
  font-size: 20px;
  margin: 5px;
}

.site-nav {
  float: right;
  font-size: 25px;
  margin: 20px;
}

.nav-item {
  padding: 15px;
}

/*------------- Links ---------------------*/

a:link {
  color: #F95D5E;
  text-decoration: none;
}

a:visited {
  color: #F95D5E;
}

/*----------------- Body ---------------*/
.body {
  min-height: 100%;
  padding-top: 30px;
}

.intro-body {
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 100px;
}

.intro-text{
  text-align: center;
  font-size: 130%;
  margin-top: 10px;

}

.intro-heading{
  text-align: center;
  border-bottom: 1px solid gray;
  font-size: 200%;
  width: 100%;
}

.img {
  margin: 0 auto;
  max-width: 10%;
}

#myPic {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("../imgs/daniela.jpg") no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


/*------------Email Form----------------------*/
/*fieldset {
  border: 2px solid gray;
  border-radius: 10px;
  width: 300px;
  padding: 15px;
  background-color: #eee;
}

input, textarea {
  float: right;
  border: none;
}

.form-label {
  padding-bottom: 10px;
  height: 100%;
  display: inline-block;
  width: 100%;
}

.form {
  margin: 5%;
  display: block;
}
*/
/*---------------- Events ----------------*/

/*----------------- Footer ---------------*/

footer {
  background-image: url("../imgs/lodyas.png");
  bottom: 0;
  left: 0;
  height: 100px;
  width:100%;
  clear: both;
  margin-bottom: 0;
}

footer #dbc {
  margin: 10px 20px 0px 0px;
  float: right;
  clear: right;
}

.social-media {
  float: right;
  margin: 10px 20px 0px 0px;
}