@charset "UTF-8";
/* ------------------ Page Structure ------------------ */

html {
  background-color: #FDFFFE;
  width: 100%
}

/* ------------------ Header ------------*/
header {
  width: 100%;
  font-family: sans-serif;
  top: 0;
  display: block;

  
}

.name {
  float: left;
  width: 70%
}

#title {
  text-align: left;
  margin: 0 0 0 5px;
  font-size: 20px
}

#subtitle {
  text-align: left;
  margin: 5px;
  font-size: 15px;
  margin-top: 10px;
}

.site-nav {
   font-size: 15px;
   width: 30%
   padding: 40px;
   float: right;
}

.nav-item {
  padding: 10px;
}

hr {
  border-bottom-style: solid;
  border-color: #5ECEDD;
  border-width: 5px;
  display: inline-block;
  width: 100%;
}

/*------------- Links ---------------------*/

a:link {
  color: #5DBDF9;
  text-decoration: none;
  }

a:visited {
  color: #F95D5E;
}

a:hover {
  color: #5EC6B7;
}

/*----------------- About Me ---------------*/
section {
  font-family: sans-serif;
  width: 100%
  
  }

.intro {
  display: inline-block;
  margin: 0 1.5%;
  width: 100%  
}

}
.aboutMe{
  float: right;
  padding: 20px;
  margin: 0 40px;
  width: 70%;
}

#myPic {
  float: left;
  width: 30%;
  padding: 20px;

}


/*----------------- Footer ---------------*/
.footer{
  float: right;
}

</style>s